% extends "base.html" %}




{% block main %}
<div id='info'>
    <strong> Please enter your profile information</strong>
</div>
<div class="form">
  <form action="{{ url_for('profile_add') }}" method=post enctype="multipart/form-data" role="form">

    <div class="field">
    {{ form.fname.label }}
    {{ form.fname}}<br />
    </div>
    
    <div class="field">
    {{ form.lname.label }}
    {{ form.lname}}<br />
    </div>
    
    <div class="field">
    {{ form.bio.label }}
    {{ form.bio}}<br />
    </div>
    
    <div class="field">
    {{ form.gender.label }}
    {{ form.gender}}<br />
    </div>
    
    <div class="field">
    {{ form.age.label }}
    {{ form.age}}<br />
    </div>
    
    <div class="field">
    {{ form.image.label }}
    {{ form.image}}
    <br />
    </div>
    
    {{ form.submit}}
  </form>
</div>
{% endblock %}
